<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zncm.dminter.mmhelper">


    <uses-sdk tools:overrideLibrary="ezy.assist.settingscompat" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".OpenInentActivity"
            android:excludeFromRecents="true"
            android:label="添加活动到桌面"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent"
        >

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".ShortcutActionActivity"
            android:excludeFromRecents="true"
            android:label="全部冷冻、T9搜索、锁屏"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity"
                  android:launchMode="singleInstance"
        >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>



        <activity
            android:name="com.zncm.dminter.mmhelper.T9SearchActivity"
            android:label="T9搜索"
            android:launchMode="singleInstance"></activity>        <activity
            android:name="com.zncm.dminter.mmhelper.SuggestInfoActivity"
            android:label="建议活动"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name="com.zncm.dminter.mmhelper.SettingNew"
            android:label="设置"
            android:theme="@style/MyMaterialSettings" />
        <activity
            android:name="com.zncm.dminter.mmhelper.ShellBatActivity"
            android:label="批量添加Shell"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.zncm.dminter.mmhelper.BatActivitys"
            android:label="批量添加活动"
            android:launchMode="singleInstance" />


        <activity
            android:name="com.zncm.dminter.mmhelper.AboutAc"
            android:label="关于应用"
            android:theme="@style/MyMaterialSettings" />
        <activity
            android:name="com.zncm.dminter.mmhelper.SuggestAc"
            android:label="建议活动"
            android:theme="@style/MyMaterialSettings" />
        <activity
            android:name="com.zncm.dminter.mmhelper.SortActivity"
            android:label="排序" />


        <service
            android:name="com.zncm.dminter.mmhelper.WatchingService"
            android:enabled="true"></service>
        <service
            android:name="com.zncm.dminter.mmhelper.floatball.FloatBallService"
            android:enabled="true"></service>


        <receiver
            android:name=".floatball.ScreenOffAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock_screen" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <receiver android:name="com.zncm.dminter.mmhelper.appwidget.SmallAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.zncm.dminter.mmhelper.appwidget.SmallAppWidget"></action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_small_info"></meta-data>
        </receiver>


        <service
            android:name=".WatchingAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>


        <receiver android:name=".utils.MyInstalledReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>